html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.03em;
    background: black;
}
.nav__container {
    margin: 0 auto;
    width: 1150px;
    margin-bottom: 70px;
}
.nav__lists {
    margin-top: 44px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}
.nav__list {
    text-decoration: none;
    color: #FFFFFF;
}
.nav__list:nth-last-child(1) {
    margin-right: 2px;
}
.nav__list:nth-last-child(2) {
    margin-right: 43px;
}
.nav__list:nth-last-child(3) {
    margin-right: 43px;
}
.nav__list:nth-last-child(4) {
    margin-right: 43px;
}
.header__container {
    margin: 0 auto;
    width: 1150px;
}
.header__head {
    margin-bottom: 42px;
    font-weight: 700;
    font-size: 150px;
    line-height: 133px;
    text-align: center;
    letter-spacing: -0.07em;
    color: #FF25C2;
}
.header__text {
    margin: 0 auto;
    width: 430px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.header__image {
    margin-bottom: 80px;
    margin-left: 168px;
    width: 819px;
    height: 776px;
}
.headphones__container {
    margin: 0 auto;
    width: 1150px;
    position: relative;
}
.headphones__small-img-white {
    position: absolute;
    width: 140px;
    height: 140px;
    top: 340px;
    left: 50px;
}
.headphones__small-img-black {
    position: absolute;
    width: 141px;
    height: 140px;
    bottom: 346px;
    left: 50px;
}
.headphones__button-white{
    position: absolute;
    top: 512px;
    left: 50px;
}
.headphones__btn {
    width: 420px;
    height: 110px; 
    border: 1px solid white;
    border-radius: 55px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: white;
    background: transparent;
    cursor: pointer;
}
.headphones__btn:hover {
    background: #FFFFFF;
    color: black;
}
.headphones__button-black {
    position: absolute;
    bottom: 205px;
    left: 50px;
}
.headphones__list:nth-last-child(1){
    padding-top: 47px;
    padding-bottom: 150px;
}
.function__section {
    margin: 0 auto;
    width: 100%;
    height: 786px;
    background-image: url(./img/Group\ 27.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.function__container {
    margin: 0 auto;
    padding-top: 190px;
    width: 671px;
    height: 401px;
}
.function__title {
    margin: 0 auto;
    margin-bottom: 37px;
    width: 560px;
    height: 148px;
    font-weight: 700;
    font-size: 103px;
    line-height: 74%;
    text-align: center;
    letter-spacing: -0.08em;
    color: #FF25C2;
}
.function__content {
    margin-bottom: 38px;
    letter-spacing: -0.03em;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.powerful-training__section {
    margin: 0 auto;
    width: 100%;
}
.powerful-training__container {
    padding-top: 150px;
}
.powerful-training__header {
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 146px;
    width: 676px;
    height: 222px;
    font-weight: 700;
    font-size: 100px;
    line-height: 74%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FF25C2;
}
.powerful-training__list {
   margin-bottom: 80px;
}
.powerful-training__image {
    margin: 0 auto;
    margin-bottom: 22px;
    position: relative;
    width: 54px;
    height: 51px;
    border: 1px solid #FF25C2;
    border-radius: 100px;
    background: #FF25C2;
}
.small__image {
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.powerful-training__content {
    margin: 0 auto;
    width: 507px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.powerful-training__list:nth-last-child(1) {
    margin-bottom: 150px;
}
.about-ear__section {
    margin: 0  auto;
    width: 100%;
    height: 1040px;
    background-image: url(./img/about-ears-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}
.about-ear__container {
    margin: 0 auto;
    position: relative;
    padding-top: 130px;
    width: 1150px;
}
.about-ear__header {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 100px;
    line-height: 74%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.about-ear__content {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 942px;
    height: 200px;
    font-weight: 700;
    font-size: 45px;
    line-height: 90%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.about-ear__btn {
    margin: 0 auto;
    position: absolute;
    left: 143px;
    width: 866px;
    height: 110px;
    border: 1px solid #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    background: transparent;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.about-ear__btn:hover {
    background: #FFFFFF;
    color: black;
}
.clear-volume__section {
    margin: 0 auto;
    width: 100%;
}
.clear-volume__container {
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
    width: 1150px;
}
.clear-volume__header {
    margin: 0 auto;
    margin-right: 32px;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 100px;
    line-height: 74%;
    text-align: center;
    letter-spacing: -0.06em;
    color: #FFFFFF;
}
.clear-volume__content {
    position: absolute;
    bottom: 54px;
    left: 317px;
    width: 475px;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
.social-contacts__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 60px 40px 196px 0;
}
.social-contacts__container {
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.social-contacts__lists {
    display: flex;
    gap: 30px;
}
.social-contacts__list {
    width: 211px;
    height: 44px;
}
.social-contacts__content {
    font-size: 60px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: -0.06em;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.5s ease;
}
.footer__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 0 75px 50px 5px;
}
.footer__container {
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.footer__lists {
    display: flex;
    margin-bottom: 57px;
    gap: 46px;
}
.footer__content {
    font-size: 18px;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.5s ease;
}
.nothing__text {
    margin-left: 67px;
    font-weight: 700;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: -0.03em;
    color: #FF25C2;
}
