.header {
  margin-bottom: 60px;
}
.header__nav {
  padding-top: 44px;
}
.header__nav-lists {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 43px;
}
.nav__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
  color: #FFFFFF;
}
.nav__link:hover {
  color: #FF25C2;
}
@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}